/* -------------------- CSS BY NAME -------------------------------------- */

/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS RESET ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
:root {
    font-family: "Inter", serif;

    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff;

    background-color: var(--Purple);
}

/* --------------------GLOBAL STYLES (mobile first/small) 450px --------------------*/
body {
    min-width: 450px;
}

h1, h2 {
    font-family: "Kavoon", serif;
}

h1 {
    font-size: 3em;
    color: var(--White);
}

h2 {
    font-size: 2em;
}

nav > h2 {
    font-size: 1.5em;
}

h2, h3 {
    margin-left: 15px;
    margin-bottom: 5px;
}

h3, h4 {
    font-size: 1.5em;
}

p {
    line-height: 1.5;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--Purple);
}

/* >>>>>>>>>>>  header <<<<<<<<<<< */
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 240px;
    align-items: center;
    justify-content: flex-start;
}

h1 {
    display: flex;
    width: 100%;
    height: 130px;
    background-color: var(--Lavender);
    border-radius: 0 0 30px 30px;
    align-items: center;
    justify-content: center;
    z-index: 5;
    padding-top: 10px;
}

h1 + p {
    display: flex;
    width: 97%;
    height: 85px;
    background-color: var(--Pink);
    border-radius: 0 0 30px 30px;
    align-items: flex-end;
    justify-content: center;
    z-index: -1;
    position: absolute;
    top: 85px;
    padding-bottom: 5px;
    color: var(--White);
    font-style: oblique;
}
header > p :only-child {
    display: none;
}

nav > h2 {
    display: flex;
    width: 100px;
    height: 50px;
    align-items: center;
    justify-content: center;

    font-family: "Inter", serif;
    font-style: oblique;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--Yellow);
    border-radius: 0 0 15px 15px;
    z-index: 10;

    position: absolute;
    top: 0;
    right: 0;
}

nav > ul {
    display: none;
}

/* >>>>>>>>>>>  main <<<<<<<<<<< */
/* Our Services */
section > h2 {
    color: var(--White);
}

main h3 {
    color: var(--Yellow);
    font-weight: bold;
}

.infoSections {
    background-color: var(--White);
    padding: 15px;
    margin: 15px 25px;
    border-radius: 20px;
}

.infoSections > p, h4 {
    margin: 10px;
}

[title="One-on-One Coaching"] :last-child > p {
    padding-right: 25px;
}
/* Why Choose Us */
section[title^="Why"] {
    background-color: var(--Pink);
    display: flex;
    height: 325px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

#choiceReasons {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 200px 200px;
    grid-template-rows: 120px 120px;
    gap: 15px;
}

[id^="cho"] > * {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2em;
}

[id^="cho"] li:first-child {
    background-color: var(--Teal);
}

[id^="cho"] :nth-child(2) {
    background-color: var(--Lavender);
}

[id^="cho"] :nth-child(2) span {
    margin-left: 5px;
}

[id^="cho"] :nth-child(3) {
    background-color: var(--Yellow);
}

[id^="cho"] li:last-child {
    background-color: var(--White);
}

[id^="cho"] :not(:nth-child(2)) {
    display: flex;
    flex-direction: column;
}

/* Pricing */
[title$=ing] div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

[title$=ing] h3 {
    align-self: self-start;
    margin-bottom: 10px;
}

[title$=ing] table {
    background-color: var(--Yellow);
    width: 250px;
}

tr :not(th) {
    background-color: var(--White);
 }

tr {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 170px 80px;
    grid-auto-rows: 50px;
    row-gap: 2px;
    column-gap: 2px;
    margin: 2px;
    
}

tr > th {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

tr > td {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}

/* Take the First Step */
[title="Take the First Step"] {
    background-color: var(--Pink);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

[title*="First"] p {
    color: var(--White); 
    padding: 0 25px 0 15px; 
  }

[title*="First"] h2 {
    align-self: flex-start;
    margin-top: 15px;
}

[title*="First"] > button {
    height: 65px;
    width: 350px;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: 5px 5px 4px var(--Dark-gray);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}

/* >>>>>>>>>>>  footer <<<<<<<<<<< */
footer {
    background-color: var(--Lavender);
    height: 110px;
    border-radius: 0 0 35px 35px;
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

footer div {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

small, small > a {
    color: var(--White);
    font-size: small;
}

/*-------------------- MEDIA QUERY (medium) 620px --------------------------------*/
@media screen and (min-width: 620px) {
    header {
        height: 220px;
    }

    header > p :only-child {
        display: inline;
        margin-left: 5px;
    }

    [title^="One"] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 0.6fr;
        justify-content: space-evenly;
        row-gap: 2px;
        margin-bottom: 5px;
    }

    [title^="One"] h3 {grid-column: 1 / 4; grid-row: 1 /2;}
    [title^="One"] section:first-child {grid-column: 2 / 3; grid-row: 2 / 3;}
    [title^="One"] section:nth-child(2n) {grid-column: 1 / 2; grid-row: 2 / 3;}
    [title^="One"] section:last-child {grid-column: 1 / 4; grid-row: 3 / 4;    
                                        margin-top: 15px;}
    
    .infoSections {
        margin: 10px 15px;
    }

    [title^=Gro] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr;
        justify-content: space-evenly;
        row-gap: 2px;
    }

    [title^=Gro] h3 {grid-column: 1 / 4; grid-row: 1 / 1;}
    [title^=Gro] section:first-child {grid-column: 1 / 2; grid-row: 2 / 3;}
    [title^=Gro] section:last-child {grid-column: 2 / 3; grid-row: 2 / 3;}

    section[title^="Why"] {
        height: 220px;
        margin-top: 15px;
    }

    #choiceReasons {
        grid-template-columns: 150px 120px 150px 120px;
        grid-template-rows: 120px;
    }

    [id^="cho"] :nth-child(2) {
        display: flex;
        flex-direction: column;
    }
    
    [id^="cho"] :nth-child(2) span {
        margin-left: 0;
    }

    [title=Pricing] {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.8fr 0.5fr;
        gap: 10px;
    }

    [title=Pricing] > h2 {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    [title$="One"] {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    [title^="First"] {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    [title$="Two"] {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    [title^="Second"] {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    [title$="Three"] {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    [title^="Third"] {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }

    [title$="Four"] {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    [title^="Fourth"] {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }

    [title="Take the First Step"] {
        display: grid;
        height: 225px;
        align-items: start;
        grid-template-columns: 0.8fr 1fr;
        grid-template-rows: 0.1fr 1fr;
        column-gap: 10px;
        row-gap: 5px;
    }

    [title="Take the First Step"] h2 {
        grid-row: 1 / 1; grid-column: 1 / 3;
        margin-left: 15px;
    }
    [title="Take the First Step"] p {
        grid-row: 2 / 3; grid-column: 1 / 1;
        margin-left: 15px;
        padding: 0;
        font-size: 0.9em;
    }
    [title="Take the First Step"] button {
        width: 330px;
        grid-row: 2 / 3; grid-column: 2 / 3;
    }

}

/*-------------------- MEDIA QUERY (large) 950px ------------------------------------*/
@media screen and (min-width: 950px) {
    nav > h2 {
        display: none;
    }

    nav > ul {
        display: flex;
        width: 60%;
        height: 45px;
        align-items: center;
        justify-content: space-around;

        font-family: "Inter", serif;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 25px;
        background-color: var(--Yellow);
        border-radius: 0 0 15px 15px;
        z-index: 10;

        position: absolute;
        top: 0;
        right: 0;
    }

    li a {
        text-decoration: none;
        color: var(--Dark-gray);
        font-size: 0.9em;
    }

    [title="Our Services"] h3 {
        font-size: 1.2em;
    }

    [title="Our Services"] h4 {
        font-size: 0.9em;
        margin-bottom: 0;
    }

    [title="Our Services"] p {
        font-size: 0.8em;
        margin-top: 1px;
    }

    .infoSections {
        padding: 10px;
        margin: 15px 10px;
    }

    [title="Our Services"] {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 0.1fr 1fr 0;
        column-gap: 10px;
        row-gap: 5px;
        margin-bottom: 0;
        padding-bottom: 0;

    }

    [title="Our Services"] h2 {
        grid-column: 1 / 5; grid-row: 1 / 2;
    }    

    [title^="One"] {
        grid-column: 1 / 2; grid-row: 2 / 3;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.08fr 1fr 0.8fr 0.8fr;
    }

    [title^="One"] h3 {grid-column: 1 / 2; grid-row: 1 /2;}
    [title^="One"] section:first-child {grid-column: 1 / 2; grid-row: 3 / 4;}
    [title^="One"] section:nth-child(2n) {grid-column: 1 / 2; grid-row: 2 / 3;}
    [title^="One"] section:last-child {grid-column: 1 / 2; grid-row: 4 / 5;    
                                        margin-top: 15px;}

    [title^="Gro"] {
        grid-column: 2 / 3; grid-row: 2 / 3;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.7fr 0.5fr;
        padding-bottom: 300px;
    }

    [title^=Gro] h3 {grid-column: 1 / 2; grid-row: 1 / 2;}
    [title^=Gro] section:first-child {grid-column: 1 / 2; grid-row: 2 / 3;}
    [title^=Gro] section:last-child {grid-column: 1 / 2; grid-row: 3 / 4;}

    [title^="Work"] {
        grid-column: 3 / 4; grid-row: 2 / 3;
    }

    [title^="Online"] {
        grid-column: 4 / 5; grid-row: 2 / 3;
    }

    [title^="Work"] h3, [title^="Online"] h3 {
        margin-bottom: 25px;
    }

    section[title^="Why"] {
        height: 180px;
        margin-top: 15px;
        margin-bottom: 15px;
        justify-content: space-evenly;
    }

    #choiceReasons {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 105px;
        margin: 0 10px;
        gap: 10px;
        align-items: center;
    }

    [id^="cho"] > * {
        height: 90%;
        width: 100%;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 0.9em;
    }

    [id^="cho"] :not(:nth-child(2)), [id^="cho"] :nth-child(2) {
        display: flex;
        flex-direction: row;
        margin-left: 3px;
    }

    [title="Pricing"] {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 40px 40px 200px;
        gap: 10px;
    }

    tr {
        display: grid;
        grid-template-rows: 40px;
        grid-template-columns: 140px 60px;
        grid-auto-rows: 40px;
        row-gap: 2px;
        column-gap: 2px;
        margin: 2px;
        
    }

    [title$=ing] table {
        width: 200px;
    }

    [title$=ing] h3 {
        font-size: 1.2em;
    }

    [title$=ing] th {
        font-size: 0.9em;
    }

    [title$=ing] td {
        font-size: 0.9em;
    }
    
    [title="Pricing"] > h2 {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    [title="One-on-One Coaching"] {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }

    [title$="Two"] {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    [title$="Three"] {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }

    [title$="Four"] {
        grid-row: 2 / 3;
        grid-column: 4 / 5;
    }

    [title^="First"] {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    [title^="Second"] {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    [title^="Third"] {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }

    [title^="Fourth"] {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
    }

    [title="Take the First Step"] {
        display: grid;
        height: 180px;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 0.8fr;
        column-gap: 10px;
        row-gap: 2px;
    }

    [title="Take the First Step"] h2 {
        grid-row: 1 / 1; grid-column: 1 / 2;
        margin-left: 15px;
    }
    [title="Take the First Step"] p {
        grid-row: 2 / 3; grid-column: 1 / 1;
        margin-left: 15px;
        padding: 0;
        font-size: 0.9em;
    }
    [title="Take the First Step"] button {
        width: 330px;
        grid-row: 1 / 3; grid-column: 2 / 3;
        justify-self: center;
        margin-top: 10px;
    }

}

/*-------------------- MEDIA QUERY (xl) 1280px ---------------------------------------*/
@media screen and (min-width: 1280px) {
    body {
        max-width: 1280px;
        min-width: 1279px;
        position: absolute;
        left: 15%;
        right: 15%;
    }

    
}